* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  width: 98%;
  margin: 20px auto;
}

.spacer {
  height: 12px;
}

.clear-both {
  clear: both;
}

.hero {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 15px;
  margin-top: 20px;
}

.nav {
  width: 100%;
  background-color: #444;
  float: left;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li:last-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: red;
}

nav ul li a:active {
  color: gold;
}

article.main-left {
  display: inline;
  width: 72%;
  float: left;
  padding: 15px;
  background-color: lightgray;
}

aside.main-right {
  width: 27%;
  float: right;
  background-color: gray;
  padding: 15px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
  align-content: center;
  padding: 15px;
}
